{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Badminsights - {% block title %}Halaman Utama{% endblock %}</title>

    <script src="https://cdn.tailwindcss.com"></script>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="bg-gray-900 text-gray-200 font-sans">

    <nav class="bg-gray-800 p-4 shadow-md">
        <div class="container mx-auto flex justify-between items-center">
            <a href="#" class="text-white text-xl font-bold">🚀 Badminsights</a>
            <div class="hidden md:flex space-x-6">
                <a href="#" class="text-gray-300 hover:text-cyan-400 transition-colors">Home</a>
                <a href="#" class="text-gray-300 hover:text-cyan-400 transition-colors">Players</a>
                <!-- <a href="#" class="text-gray-300 hover:text-cyan-400 transition-colors">Pertandingan</a> -->
            </div>
            </div>
    </nav>

    <main class="container mx-auto mt-6 px-4" style="min-height: 80vh;">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="bg-gray-800 text-gray-400 text-center py-4 mt-8">
        <p>&copy; {% now "Y" %} Badminsights by PBP B-09.</p>
    </footer>

</body>
</html>